.text{
    margin-top: 80px;
}
.h1{
    color: #050C26;
    font-weight: 600;
    font-size: 35px;
}
.p{
    color: #8A8A8A;
    font-weight: 500;
    margin-bottom: 50px;
}
.card{
    border: 0;
    padding: 15px;
    margin-bottom: 80px;
}
.cardp{
    color: #ACACAC;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}
.cardimg{
    width: 20%;
    height: 70px;
}
.cardtext{
    margin-left: 20px;
    margin-top: 5px;
}
.cardh5{
    color: #353535;
    font-weight: 500;
    font-size: 16px;
}
.cardp2{
    color: #8E8E8E;
    font-weight: 400;
}
.buttons{
    width: 10%;
    margin: auto;
}
@media (max-width: 1399.98px) {}
@media (max-width: 1199.98px) {
    .cardp{
        font-size: 13px;
    }
}
@media (max-width: 991.98px) {
    .cardp{
        font-size: 18px;
        width: 55%;
    }
    .cardimg{
        width: 15%;
    }
}
@media (max-width: 767.98px) {
    .cardp{
        font-size: 18px;
        width: 70%;
    }
}
@media (max-width: 575.98px) {
    .cardp{
        font-size: 18px;
        width: 80%;
    }
}